/* animation diapo */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  .animate-fadeIn {
    animation: fadeIn 0.8s ease-out forwards;
  }
  .delay-100 { animation-delay: 0.2s; }
  .delay-200 { animation-delay: 0.4s; }

  /* diapo menu */
  .indicator.active {
    background-color: rgba(212, 175, 55, 0.7);
    transform: scale(1.2);
  }
  .hover-scale {
    transition: transform 0.3s ease;
  }
  .hover-scale:hover {
    transform: scale(1.03);
  }

  /* footer style */
  .bg-noir-darker {
    background-color: #0a0a0a;
  }

  /* section fichier catalogue */
  .slider-container {
            scroll-snap-type: x mandatory;
        }
  .slider-item {
      scroll-snap-align: start;
      flex: 0 0 auto;
  }
  .active-creator {
      background-color: #d4af37;
      color: #1a1a1a;
  }